<template>
  <b-container fluid>
    <b-row>
      <b-col cols="3">
        <b-form @submit.prevent="onSubmit" novalidate>
          <b-form-group
            horizontal 
            label-for="length"
            label="Länge"
            :invalid-feedback="lengthInvalidFeedback"
            :valid-feedback="lengthValidFeedback"
            :state="lengthState">
            <b-form-input 
              id="length"
              type="number"
              v-model="form.length"
              required
              placeholder="Länge in mm"
              :state="lengthState">
            </b-form-input>
          </b-form-group>
          <b-form-group 
            horizontal
            label-for="width"
            label="Breite">
            <b-form-input 
              id="width"
              type="number"
              v-model="form.width"
              required
              placeholder="Breite in mm">
            </b-form-input>
          </b-form-group>
          <b-button type="submit" variant="primary">Submit</b-button>
        </b-form>
      </b-col>
      <b-col>
        <canvas id="canvas" width="300" height="300"></canvas>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import { fabric } from 'fabric'

export default {
  props: {},
  data: () => ({
    form: {
      length: null,
      width: null
    }
  }),
  components: {},
  mounted() {
    this.initCanvas();
  },
  computed: {
    lengthState() {
      if (!this.form.length) {
        return null;
      }
      if (this.form.length.length > 0) {
        if (parseInt(this.form.length) <= 0) {
          return false;
        } else if (parseInt(this.form.length) > 2500) {
          return false;
        } else {
          return true;
        }
      } else {
        return false;
      }
    },
    lengthInvalidFeedback() {
      if (this.lengthState == null) return '';
      if (this.form.length.length > 0) {
        if (parseInt(this.form.length) <= 0) {
          return 'Mindestens 1 mm eingeben';
        } else if (parseInt(this.form.length) > 2500) {
          return 'Höchstens 2500 mm eingeben';
        } else {
          return '';
        }
      } else {
        return 'Geben Sie eine Länge ein';
      }
    },
    lengthValidFeedback() {
      return this.lengthState ? '&#10003;' : '';
    }
  },
  methods: {
    initCanvas() {
      var canvas = new fabric.StaticCanvas('canvas');
      var rect = new fabric.Rect({
        left: 100,
        top: 100,
        fill: 'red',
        width: 20,
        height: 20
      });
      canvas.add(rect);
    },
    onSubmit() {
      alert('submit');
    }
  }
};
</script>
