<template>
  <div id="app" class="p-3">
    <h1>Holzzuschnitt</h1>
    <b-card>
      <wc-main />
    </b-card>
  </div>
</template>

<script>
export default {
  props: {},
  data: () => ({}),
  components: {},
  created() {},
  methods: {}
};
</script>
